{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Home Page</title>
   
</head>
<body>
    <header>
        <h1>Funny is fun ha!</h1>
    </header>

    
  <main>
      <section>
          <h2>Read this fun Joke and have a great day.</h2>
          <p>What did the football coach say to the broken vending machine? Give me my quarterback! LOL</p>
          <p>Why did the man get fired from the orange juice factory? Lack of concentration! LOL</p>

        <img src="{% static 'images/olddayspic.jpg' %}" alt="olddayspic">

      </section>
  </main>

  


    <footer>
        <p>© 2024 My Django Project</p>
    </footer>
</body>
</html>
