<!-- Filename: yourapp/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT112</title>
</head>
<body>
    <header>
        <h1>Welcome to practicing  Sinit Page!</h1>
    </header>
    <main>
        <p>Hey there! I'm currently taking a winter class on web programming with Python. I just wanted to share how grateful I am for Git. It's really helpful because I can practice coding without the fear of losing my work.</p>
    </main>

  
    <footer>
      <p>© 2024 My Django Project</p>
    </footer>
</body>
</html>