{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Home Page</title>

</head>
<body>
    <header>
        <h1>Learning is a gateway to new opportunities!</h1>
    </header>


  <main>
      <section>
          <h2>Learnning is a life time job.</h2>
          <p>Learning is important for everyone, but it holds even more significance for individuals like me, who speak English as a second language. Communicating effectively in a language that is not my native tongue is a challenge, but I am committed to continuously learning and improving my English skills to become more confident and proficient in my communication. Learning can open new doors of opportunities, help me connect with others, and enhance my personal and professional growth. I am proud of the hard work I have put in so far and am determined to keep up the momentum.</p>
    
        <img src="{% static 'images/olddayspic.jpg' %}" alt="olddayspic">

      </section>
  </main>




    <footer>
        <p>© 2024 My Django Project</p>
    </footer>
</body>
</html>
